body {
    background-color:crimson;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.center-text {
    color: white;
    font-family: monospace;
    display: inline-block;
}

.center-container {
    text-align: center;
}