body {
    background-color: #262626;
    margin: 0;
}

p, a {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: lightgreen;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 25px;
    border-bottom: 1px solid white;
    z-index: 100;
    background-color: #262626;
}

nav a { 
    line-height: 25px; 
    padding: 0 6px; 
}

.no-margin {
    margin: 0;
}